<project>
  <modelVersion>{{appVersion}}</modelVersion>
  <groupId>garage-week</groupId>
  <artifactId>pet-app-sdk</artifactId>
  <version>1</version>

  <licenses>
    <license>
      <name>The Apache Software License, Version 2.0</name>
      <url>http://www.apache.org/licenses/LICENSE-2.0.txt</url>
    </license>
  </licenses>

  <distributionManagement>
    <repository>
      <id>github</id>
      <name>GitHub Packages</name>
      <url>https://github.com/oco-research/java-sdk</url>
    </repository>
  </distributionManagement>
</project>
